@import "./variables.scss";

.btn {
  // padding: $padding * 2;
  padding: 16px;
  // background: $green-bg;
  background: #26ae68;
  color: #ffffff;
  border: 0;
  // border-radius: $radius;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  &:hover {
    background: #31c375;
  }
}
